body{
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('waves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Center the main title */
h1 {
    text-align: center;
    font-family: "Edwardian Script ITC";
    font-size: 3em;
  }
  
/* Container for the main content */
.content-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Styling for the artwork items */
  .artwork-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .artwork-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .artwork-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .artwork-description h2 {
    max-width: 600px; 
    margin: 0 auto;   
    padding: 10px;    
    text-align: center;
  }
  
  .artwork-description p {
    max-width: 600px; 
    margin: 0 auto;   
    padding: 10px;    
    text-align: center;
  }
  

  
    .artwork-item {
      flex: 1 1 calc(50% - 20px);
      margin: 10px;
    }
  
  